<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Appmerce - Applications for Ecommerce
 * http://www.appmerce.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="appmerce_buckaroo" frontName="buckaroo">
            <module name="Appmerce_Buckaroo" />
        </route>
    </router>
</config>